<a href="https://colab.research.google.com/github/rajasafi/Vector-Space-Model/blob/main/VectorSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
      'In computer science artificial intelligence sometimes called machine intelligence is intelligence demonstrated by machines',

      'Experimentation calculation and Observation is called science',

      'Physics is a natural science that involves the study of matter and its motion through space and time, along with related concepts such as energy and force',
      
      'In mathematics and computer science an algorithm is a finite sequence of well-defined computer-implementable instructions',

      'Chemistry is the scientific discipline involved with elements and compounds composed of atoms, molecules and ions',

      'Biochemistry is the branch of science that explores the chemical processes within and related to living organisms',

      'Sociology is the study of society, patterns of social relationships, social interaction, and culture that surrounds everyday life',
         ]
#corpus = open('silmarillion.txt','r')

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())
#['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
print(X.shape)

['algorithm' 'along' 'an' 'and' 'artificial' 'as' 'atoms' 'biochemistry'
 'branch' 'by' 'calculation' 'called' 'chemical' 'chemistry' 'composed'
 'compounds' 'computer' 'concepts' 'culture' 'defined' 'demonstrated'
 'discipline' 'elements' 'energy' 'everyday' 'experimentation' 'explores'
 'finite' 'force' 'implementable' 'in' 'instructions' 'intelligence'
 'interaction' 'involved' 'involves' 'ions' 'is' 'its' 'life' 'living'
 'machine' 'machines' 'mathematics' 'matter' 'molecules' 'motion'
 'natural' 'observation' 'of' 'organisms' 'patterns' 'physics' 'processes'
 'related' 'relationships' 'science' 'scientific' 'sequence' 'social'
 'society' 'sociology' 'sometimes' 'space' 'study' 'such' 'surrounds'
 'that' 'the' 'through' 'time' 'to' 'well' 'with' 'within']
(7, 75)

In [ ]:
# vector space representation
import pandas as pd

vector = X
df1 = pd.DataFrame(vector.toarray(), columns=vectorizer.get_feature_names_out())
df1

,algorithm,along,an,and,artificial,as,atoms,biochemistry,branch,by,...,such,surrounds,that,the,through,time,to,well,with,within
0,0.000000,0.000000,0.000000,0.000000,0.238814,0.000000,0.000000,0.000000,0.000000,0.238814,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.226934,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.219588,0.000000,0.312924,0.000000,0.219588,0.000000,0.000000,0.000000,0.000000,...,0.219588,0.000000,0.155804,0.135270,0.219588,0.219588,0.000000,0.000000,0.182277,0.000000
3,0.272886,0.000000,0.272886,0.129625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.272886,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.269381,0.000000,0.000000,0.283548,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.174671,0.000000,0.000000,0.000000,0.000000,0.235369,0.000000
5,0.000000,0.000000,0.000000,0.133325,0.000000,0.000000,0.000000,0.280673,0.280673,0.000000,...,0.000000,0.000000,0.199146,0.345800,0.000000,0.000000,0.280673,0.000000,0.000000,0.280673
6,0.000000,0.000000,0.000000,0.118246,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.248929,0.176623,0.153345,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
#loading basic packages
import nltk

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords

print(stopwords.words('english'))
stop_words = set(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Tokenizing, removing stop words and stemming

In [ ]:
 # this function returns a list of tokenized and stemmed words of any text
def get_tokenized_list(doc_text):
    tokens = nltk.word_tokenize(doc_text)
    return tokens

# This function will performing stemming on tokenized words
def word_stemmer(token_list):
  ps = nltk.stem.PorterStemmer()
  stemmed = []
  for words in token_list:
    stemmed.append(ps.stem(words))
  return stemmed

In [ ]:
# Function to remove stopwords from tokenized word list
def remove_stopwords(doc_text):
  cleaned_text = []
  for words in doc_text:
    if words not in stop_words:
      cleaned_text.append(words)
  return cleaned_text

In [ ]:
#Check for single document
print(corpus[2])
tokens = get_tokenized_list(corpus[2])
print("\nWORD TOKENS:")
print(tokens)
doc_text = remove_stopwords(tokens)
print("\nAFTER REMOVING STOPWORDS:")
print(doc_text)
print("\nAFTER PERFORMING THE WORD STEMMING::")
doc_text = word_stemmer(doc_text)
doc_text

Physics is a natural science that involves the study of matter and its motion through space and time, along with related concepts such as energy and force

WORD TOKENS:
['Physics', 'is', 'a', 'natural', 'science', 'that', 'involves', 'the', 'study', 'of', 'matter', 'and', 'its', 'motion', 'through', 'space', 'and', 'time', ',', 'along', 'with', 'related', 'concepts', 'such', 'as', 'energy', 'and', 'force']

AFTER REMOVING STOPWORDS:
['Physics', 'natural', 'science', 'involves', 'study', 'matter', 'motion', 'space', 'time', ',', 'along', 'related', 'concepts', 'energy', 'force']

AFTER PERFORMING THE WORD STEMMING::

['physic',
 'natur',
 'scienc',
 'involv',
 'studi',
 'matter',
 'motion',
 'space',
 'time',
 ',',
 'along',
 'relat',
 'concept',
 'energi',
 'forc']

In [ ]:
doc_ = ' '.join(doc_text)
doc_

Performing processing on the CORPUS

In [ ]:
cleaned_corpus=[]
for doc in corpus:
  tokens = get_tokenized_list(doc)
  doc_text = remove_stopwords(tokens)
  doc_text = word_stemmer(doc_text)
  doc_text = ' '.join(doc_text)
  cleaned_corpus.append(doc_text)
cleaned_corpus

['in comput scienc artifici intellig sometim call machin intellig intellig demonstr machin',
 'experiment calcul observ call scienc',
 'physic natur scienc involv studi matter motion space time , along relat concept energi forc',
 'in mathemat comput scienc algorithm finit sequenc well-defin computer-implement instruct',
 'chemistri scientif disciplin involv element compound compos atom , molecul ion',
 'biochemistri branch scienc explor chemic process within relat live organ',
 'sociolog studi societi , pattern social relationship , social interact , cultur surround everyday life']

Fit & Transform to TF-IDF Vectorizer

In [ ]:
vectorizerX = TfidfVectorizer()
vectorizerX.fit(cleaned_corpus)
doc_vector = vectorizerX.transform(cleaned_corpus)
print(vectorizerX.get_feature_names_out())

print(doc_vector.shape)

['algorithm' 'along' 'artifici' 'atom' 'biochemistri' 'branch' 'calcul'
 'call' 'chemic' 'chemistri' 'compos' 'compound' 'comput' 'computer'
 'concept' 'cultur' 'defin' 'demonstr' 'disciplin' 'element' 'energi'
 'everyday' 'experiment' 'explor' 'finit' 'forc' 'implement' 'in'
 'instruct' 'intellig' 'interact' 'involv' 'ion' 'life' 'live' 'machin'
 'mathemat' 'matter' 'molecul' 'motion' 'natur' 'observ' 'organ' 'pattern'
 'physic' 'process' 'relat' 'relationship' 'scienc' 'scientif' 'sequenc'
 'social' 'societi' 'sociolog' 'sometim' 'space' 'studi' 'surround' 'time'
 'well' 'within']
(7, 61)

Let see The Vectorizer

In [ ]:
df1 = pd.DataFrame(doc_vector.toarray(), columns=vectorizerX.get_feature_names_out())
df1

,algorithm,along,artifici,atom,biochemistri,branch,calcul,call,chemic,chemistri,...,social,societi,sociolog,sometim,space,studi,surround,time,well,within
0,0.000000,0.000000,0.233391,0.000000,0.0000,0.0000,0.00000,0.193734,0.0000,0.000000,...,0.000000,0.00000,0.00000,0.233391,0.000000,0.000000,0.00000,0.000000,0.000000,0.0000
1,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.50124,0.416073,0.0000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0000
2,0.000000,0.284459,0.000000,0.000000,0.0000,0.0000,0.00000,0.000000,0.0000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.284459,0.236126,0.00000,0.284459,0.000000,0.0000
3,0.306149,0.000000,0.000000,0.000000,0.0000,0.0000,0.00000,0.000000,0.0000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.306149,0.0000
4,0.000000,0.000000,0.000000,0.321262,0.0000,0.0000,0.00000,0.000000,0.0000,0.321262,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0000
5,0.000000,0.000000,0.000000,0.000000,0.3337,0.3337,0.00000,0.000000,0.3337,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.3337
6,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.00000,0.000000,0.0000,0.000000,...,0.540559,0.27028,0.27028,0.000000,0.000000,0.224355,0.27028,0.000000,0.000000,0.0000

Transform the query into VECTOR

In [ ]:
query = 'explores the chemical processes'
query = get_tokenized_list(query)
query = remove_stopwords(query)
q = []
for w in word_stemmer(query):
  q.append(w)
q = ' '.join(q)
q
query_vector = vectorizerX.transform([q])
q

'explor chemic process'

NOW CALCULATING THE COSINE SIMILARITY

![cosine similarity.png]()

In [ ]:
# calculate cosine similarities
from sklearn.metrics.pairwise import cosine_similarity
cosineSimilarities = cosine_similarity(doc_vector,query_vector).flatten()

In [ ]:
related_docs_indices = cosineSimilarities.argsort()[:-10:-1]
print(related_docs_indices)

for i in related_docs_indices:
    data = [cleaned_corpus[i]]
    print(data)

[5 6 4 3 2 1 0]
['biochemistri branch scienc explor chemic process within relat live organ']
['sociolog studi societi , pattern social relationship , social interact , cultur surround everyday life']
['chemistri scientif disciplin involv element compound compos atom , molecul ion']
['in mathemat comput scienc algorithm finit sequenc well-defin computer-implement instruct']
['physic natur scienc involv studi matter motion space time , along relat concept energi forc']
['experiment calcul observ call scienc']
['in comput scienc artifici intellig sometim call machin intellig intellig demonstr machin']